/*
    Colors and styles on cards are from bootstrap

    colors:
    https://getbootstrap.com/docs/4.5/getting-started/theming/#css-variables

    cards:
    https://getbootstrap.com/docs/4.5/components/card/
*/
body {
  background: black;
}

#heading {
  /* padding-top: 2vh;
  padding-bottom: 1vh; */
  margin-bottom: 4vh;
  color: black;
  text-align: center;
  background-color: #cf2e2e;
}

h1 {
  font-family: fantasy;
  letter-spacing: 0.5em;
  /* word-spacing: 3em; */
  line-height: 2.5em;
  font-weight: 100;
}

#movieContainer {
  width: 70vw;
}
.card {
  margin-bottom: 25px;
  border-color: var(--secondary);
}

.card-header {
  background-color: #cf2e2e;
  border-color: #cf2e2e;
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  /* font-family: "Creepster", cursive; */
}

.divider {
  border-color: var(--primary);
  background-color: var(--primary);
  text-align: center;
}

/* table {
  background-color: red;
} */
